{
  "customSyntax": "postcss-less",
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-idiomatic-order"
  ],
  "rules": {
    "import-notation": null
  },
  "plugins": ["stylelint-order"],
  "ignoreFiles": ["**/*.js", "**/*.jsx", "**/*.tsx", "**/*.ts"]
}
